# Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.tfvars.json

# Environment files
.env
*.env

# Credentials
credentials.json
account.json
*.key.json

# System files
.DS_Store
.vscode/

# Logs
*.log

# private docs
private/*
